<app-top-bar></app-top-bar>

<div class="container mt-5">
  <ngx-charts-bar-vertical [view]="[1000,400]" [results]="paises" [xAxisLabel]="'Medalhas'" [legendTitle]="'Países'"
    [yAxisLabel]="'Quantidade'" [legend]="true" [showXAxisLabel]="true" [showYAxisLabel]="true" [xAxis]="true"
    [yAxis]="true" [gradient]="true" (select)="onSelect($event)">
  </ngx-charts-bar-vertical>
</div>

<div class="container mt-5 d-block" *ngIf="showTable">
  <h5>{{paisEscolhido?.name}}</h5>
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Ouro</th>
        <th scope="col">Prata</th>
        <th scope="col">Bronze</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ paisEscolhido?.ouro }}</td>
        <td>{{ paisEscolhido?.prata }}</td>
        <td>{{ paisEscolhido?.bronze }}</td>
        <td>{{ paisEscolhido?.value }}</td>
      </tr>
    </tbody>
  </table>
</div>